$black: #030303e6;
$black-opacity: #0303035c;
$blue: #135299;
$gray-bg: #d9d7d7;
$red: #ef5350;
$white: #fff;

// $blue-primary: #000fb6e6;
// $blue-secondary: #67aeffe6;
// $black-primary: #030303e6;
// $gray-primary: #242628;
// $warn: #e09b06;
// $yellow: #f4db6c;
// $green: #1b9510;
